[Unit]
Description=<%= Description %>
After=<%= After %>
[Service]
ExecStart=<%= ExecStart %>
Restart=<%= Restart %>
RestartSec=5
TimeoutStartSec=5
User=<%= User %>
# Use 'nogroup' group for Ubuntu/Debian
# use 'nobody' group for Fedora
Group=<%= Group %>
<% Environment.forEach(function(value){ %>
<%- include('template.Environment.service', {value: value}); %><% }); %>
WorkingDirectory=<%= WorkingDirectory %>
[Install]
WantedBy=<%= WantedBy %>

# 1. chmod +x app.js
# 2. Copy motobox.service file to /etc/systemd/system
# 3. sudo systemctl daemon-reload
# 4. sudo systemctl enable motobox
# 5. sudo systemctl restart motobox
# https://certsimple.com/blog/deploy-node-on-linux